.home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.home_section{
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 60vh;
    margin: 9vw 10vw 9vw 0;
    padding: 0 5vw;
    border-radius: 8px;
    justify-content:space-evenly ;
}
