.progress {
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 90%;
}

.progress_done {
    background-color: #287cb8;
	border-radius: 20px 0 0 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
}

.progress_line, .progress_number{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10%;
}
.progress_line{
	margin-top: -8px;
}
.progress_number span, .progress_line span{
    width: 17%;
}