body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.imgur.com/p4TA5dD.png');
  background-repeat: no-repeat;
  background-size: 2000px 800px;
  background-position-x: -400px;
  display: flex;
  justify-content: flex-end;
 
}

@media(min-width:1800px){
  body{
    background-size: 2350px 1000px;
  }
}